body {
margin: 0;
font-family: "Poppins", sans-serif;
background: #fff7e6;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}


.slider-container {
width: 80%;
max-width: 700px;
background: #ffffff;
padding: 20px;
border-radius: 20px;
box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
text-align: center;
}


h1 {
font-size: 32px;
margin-bottom: 20px;
color: #b85c38;
letter-spacing: 1px;
}


img {
width: 100%;
height: 380px;
object-fit: cover;
border-radius: 15px;
}


.loading {
font-size: 18px;
color: #b85c38;
margin-top: 10px;
}